@import "./variables";

body {
  font-family: "Inter", sans-serif;
  margin: 0;
  background-color: $bg-light;
  color: $text-color;
}

.header {
  background: $primary-color;
  color: white;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  nav a {
    color: white;
    text-decoration: none;
    margin-left: 1rem;
    font-weight: 500;
  }
}

.footer {
  background: $primary-color;
  color: white;
  text-align: center;
  padding: 1rem;
}

// Mobile Design
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    text-align: center;
  }

  .header nav {
    margin-top: 0.5rem;
  }
}
